* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

button {
  width: 50px;
}

ul {
  list-style-type: none;
}

li {
  margin: 10px auto;
}

#container {
  display: flex;
  flex-direction: column;
  width: 500px;
}

#submit {
  display: flex;
  justify-content: center;
}

#text-box {
  flex: 1 0 0;
}