* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
}

#container {
  display: flex;
  flex-direction: column;
  width: 500px;
}

#submit {
  display: flex;
  justify-content: center;
}

#text-box {
  flex: 10 0 0;
}

#submit-btn {
  flex: 1 0 0;
}